@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;800&display=swap');

::root {
    --text-color-white: #ffffff;
    --text-color-black: #2C3639;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../res/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.data-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-list {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(100, 106, 197, 0.37);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    overflow-y: auto;
    max-height: 50vh;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
}

.fetched_data {
    width: 600px;
}

.logo {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: calc(50% - 100px);
}


.date-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FEB139;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #EF5B0C;
}