@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;800&display=swap');

body {
    font-family: 'Merriweather Sans', sans-serif;
}

section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
