@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;800&display=swap');

body {
    font-family: 'Merriweather Sans', sans-serif;
    background-image: url(/res/vg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-section {
    position: relative;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(170, 176, 255, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: calc(50% - 100px);
}